* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Calibri", sans-serif;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

.app__body {
  top: 65px;
  position: relative;
  width: 70%;
  margin: 20px auto 100px;
  display: flex;
}

.app__body > .app__left {
  width: 65%;
}

.app__body > .app__right {
  width: 32%;
  margin-left: 3%;
  position: relative;
}
